<h1>Product Catelog</h1>

<div class="products_list">
  <% @products.each_slice(4) do |product_row| %>
    <div class="product_row">
      <% product_row.each do |product| %>
        <div class="product_list_item">
          <%= link_to product  do %>
            <%= image_tag(product.image.url(:medium))%>
            <h4><%= product.name %></h4>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @products %>
